<header id="main-header">
    <h1>Tallan Inc</h1>
</header>
<nav>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a ui-sref="home">Tass Home</a></li>
        <li role="presentation"><a href="#">HR & Payroll</a></li>
        <li role="presentation"><a href="#">IT Support</a></li>
        <li role="presentation"><a href="#">Practices</a></li>
        <li role="presentation"><a href="#">Recruiting</a></li>                
        <li role="presentation"><a href="#">Sales</a></li>
        <li role="presentation"><a href="#">Training</a></li>

    </ul>  
</nav>