<div ui-view="timesheet" class="container-fluid">
    <div class="row">
        <div class="page-header">
            <h1>Welcome to your Tass Portal</h1>
            <h2><small>Please sign in to manage timesheets</small></h2>
            <button type="button" class="btn btn-default" ng-click="toggleOpen()">Sign In</button>
        </div>
    
        <div ng-show="animate">
                
            <form class="form-inline">
                <div class="form-group">
                  <input ng-model="myName" type="text" ng-change="validateName(myName)" class="form-control" placeholder="Enter full name...">
                </div>
                <div class="form-group">
                  <input type="password" ng-model="myPassword" class="form-control" ng-change="validateName(myName, myPassword)" placeholder="Password...">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>
                <button type="button" class="btn btn-danger" ng-click="toggleOpen()">Close</button>
                <a ng-disabled="isDisabled" type="button" class="btn btn-success" ui-sref="home.timesheet({name: myName})" data-dismiss="modal">Sign In</a>             
            </form>
            
        </div>                     
    </div>   
</div>