<header id="main-header">
    <h1>Tallan Inc</h1>
</header>
<nav>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a ui-sref="admin">Home</a></li>
        <li role="presentation"><a ui-sref="admin.clients">Clients</a></li>
        <li role="presentation"><a ui-sref="admin.projects">Projects</a></li>
        <li role="presentation"><a ui-sref="admin.phases">Phases</a></li>
        <li role="presentation"><a ui-sref="admin.employees">Employees</a></li>
    </ul>  
</nav>